@model IEnumerable<mvc.Models.ListModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista zakupów</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Dodaj</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Done)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ListId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Done )
            </td>
            <td>
                @Html.ActionLink("Gotowe", "Done", new { id = item.ListId }, new { @class = "btn btn-success" })
                @Html.ActionLink("Edytuj", "Edit", new { id = item.ListId }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Szczegóły", "Details", new { id = item.ListId }, new { @class = "btn btn-info" })
                @Html.ActionLink("Usuń", "Delete", new { id = item.ListId }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
